{% load staticfiles %}

<!-- Favicon
============================================ -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'frontend/ico/apple-touch-icon-144-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'frontend/ico/apple-touch-icon-114-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'frontend/ico/apple-touch-icon-72-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'frontend/ico/apple-touch-icon-57-precomposed.png' %}">
<link rel="shortcut icon" href="{% static 'frontend/ico/favicon.png' %}">

<!-- Google web fonts
============================================ -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

<!-- Libs CSS
============================================ -->
<link rel="stylesheet" href="{% static 'frontend/css/bootstrap/css/bootstrap.min.css' %}">
<link href="{% static 'frontend/css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'frontend/js/datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'frontend/js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/themecss/lib.css' %}" rel="stylesheet">
<link href="{% static 'frontend/js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">

<!-- Theme CSS
============================================ -->
<link href="{% static 'frontend/css/themecss/so_megamenu.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/themecss/so-categories.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/themecss/so-listing-tabs.css' %}" rel="stylesheet">
<link id="frontend/color_scheme" href="{% static 'frontend/css/home2.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/responsive.css' %}" rel="stylesheet">
