{% load staticfiles %}

<!-- Include Libs & Plugins
============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{% static 'frontend/js/jquery-2.2.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/owl-carousel/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/themejs/libs.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/unveil/jquery.unveil.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/countdown/jquery.countdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/datetimepicker/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/jquery-ui/jquery-ui.min.js' %}"></script>


<!-- Theme files
============================================ -->
<script type="text/javascript" src="{% static 'frontend/js/themejs/application.js' %}"></script>

<script type="text/javascript" src="{% static 'frontend/js/themejs/so_megamenu.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/themejs/addtocart.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/themejs/cpanel.js' %}"></script>
