{% extends 'layouts/frontend/base.html' %}
{% load staticfiles %}

{% block head_title %}
Profile Update
{% endblock %}

{% block extra_head %}
<link href="{% static 'frontend/js/datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
{% endblock %}



{% block content%}
<div class="main-container container">
  {% block breadcrumb %}
    <ul class="breadcrumb">
      <li><a href="#"><i class="fa fa-home"></i></a></li>
      <li><a href="#">{{user.username}}</a></li>
      <li><a href="#">Update</a></li>
    </ul>
  {% endblock %}
  <div class="row">
      <div id="content" class="col-sm-12">
          <h2 class="title">Update Profile</h2>
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal account-register clearfix">
          {% csrf_token %}
              <fieldset id="account">
                  <legend>Your Personal Details</legend>
                  <div class="form-group required">
                      <label class="col-sm-2 control-label" for="{{ userForm.first_name.id_for_label }}">First Name</label>
                      <div class="col-sm-10">
                          {{userForm.first_name}}
                      </div>
                  </div>
                  <div class="form-group required">
                      <label class="col-sm-2 control-label" for="{{ userForm.last_name.id_for_label }}">Last Name</label>
                      <div class="col-sm-10">
                          {{userForm.last_name}}
                      </div>
                  </div>
                  <div class="form-group required">
                      <label class="col-sm-2 control-label">Username</label>
                      <div class="col-sm-10">
                          {{user.username}}
                      </div>
                  </div>
                  <div class="form-group required">
                      <label class="col-sm-2 control-label">Email</label>
                      <div class="col-sm-10">
                          {{user.email}}
                      </div>
                  </div>
                  <div class="form-group required">
                      <label class="col-sm-2 control-label" for="{{ profileForm.gender.id_for_label }}">Gender</label>
                      <div class="col-sm-10">
                          {{profileForm.gender}}
                      </div>
                  </div>
                  <div class="form-group required">
                  <label for="{{ profileForm.birthdate.id_for_label }}"class="col-sm-2 control-label">Birthdate</label>
                  <div class="col-sm-3">
                    <div class="input-group date">
                      {{profileForm.birthdate}}<span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                  </span>
                    </div>
                  </div>
                </div>

              </fieldset>
              <div class="buttons">
                  <div class="pull-right">
                      <input type="submit" value="Update" class="btn btn-primary">
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
{% endblock %}
{% block extra_js %}

<script type = "text/javascript" >

$(document).ready(function(){
    if($('#toggleMenuHeading').hasClass("open")){
      $('#toggleMenuHeading').removeClass("open");
    }
});
</script>
<script type="text/javascript" src="{% static 'frontend/js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>


{% endblock %}
